.background.log {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px 36px;
    box-shadow: 0 0 6px 0px #ccc;
    width: 390px;
    margin-top: 70px;
    /* height: 444px; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .logo {
    margin: 20px 0;
}

.form .logo {}

.form input {
    border-radius: 10px;
    height: 60px;
    width: 90%;
    margin: 6px 0;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.form input:last-of-type {
    background-color: var(--second-main-color);
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}

.form input:last-of-type:hover {
    transition: .4s;
    background-color: #5053bc;
}

.form p {
    margin-bottom: 10px;
    font-size: 18px;
}

.form a {
    text-decoration: none;
    text-transform: capitalize;
}

.form .forgot {
    margin: 23px;
    color: var(--main-color);
}

.form p+a {
    background-color: var(--secondary-color);
    color: white;
    width: 90%;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.form p+a:hover {
    transition: .3s;
    opacity: .8;
}