a {
    text-decoration: none;
}

.home {}

.home .top-section {
    padding: 141px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background-image: url('../../../images/home-back.jpg');
    background-size: cover;
}

.home .top-section .information {
    margin-top: 120px;
}

.home .top-section .information .small-title {
    color: var(--second-main-color);
    width: 80%;
    background-repeat: no-repeat;
    margin: 0;
}

.home .top-section .information .big-title {
    width: 706px;
    font-size: 41px;
    font-weight: bold;
    text-align: start;
}

.btn {
    border: none;
    background-color: var(--secondary-color);
    padding: 10px 22px;
    cursor: pointer;
}

.btn:hover {
    transition: .3s;
    opacity: .8;
    background: var(--secondary-color);
}

.home .top-section .information .btn a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.home .top-section .image {
    width: 255px;
    height: 300px;
    position: relative;
    animation: topTopBottom 3s ease-in-out infinite;
}

.home .top-section .image::before {
    content: '';
    position: absolute;
    background-color: var(--second-main-color);
    width: 329px;
    height: 251px;
    border-radius: 20px;
    bottom: 0;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    transform: rotate(-90deg);
}

.home .top-section .image img {
    width: 100%;
    height: 100%;
    position: absolute;
}

@keyframes topTopBottom {
    from {
        bottom: 0
    }

    50% {
        bottom: 20px;
    }

    To {
        bottom: 0;
    }
}

@media (max-width: 930px) {
    .home .top-section .information .big-title {
        font-size: 30px;
        width: 343px;
    }
}

@media (max-width: 570px) {
    .home .top-section .information .big-title {
        width: 90%;
    }
}

@media (min-width: 930px) {
    .home .top-section .information .big-title {
        font-size: 56px;
    }
}

@media (max-width: 768px) {
    .background {
        padding: 20px;
    }

    .home .top-section {
        padding: 0 20px;
        justify-content: flex-start;
    }


}



/*************************working-process********************************/
.working-process {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../images/background.png');
    background-size: cover;
}

.working-process .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 36px;
    padding: 75px 40px 39px;
    max-width: 995px;
}

.working-process .boxes .box {
    box-shadow: 0 0 40px 0 #ccccccc4;
    border-radius: 24px;
    padding: 20px 32px;
    height: 383px;
    background-color: white;
    position: relative;
}

.working-process .boxes .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: var(--secondary-color);
    transition: .3s;
}

.working-process .boxes .box:nth-of-type(2)::before {
    height: 100%;
}

.working-process .boxes .box:nth-of-type(2) :is(span, h2, p) {
    color: #fff;
}

.working-process .boxes .box:nth-of-type(2) span {
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: var(--secondary-color);
}

.working-process .boxes .box:nth-of-type(2) a i {
    background-color: var(--secondary-color);
    color: white;
}

.working-process .boxes .box:nth-of-type(2) a {
    color: var(--secondary-color);
    background-color: #fff;
}

.working-process .boxes .box:hover:before {
    height: 100%;
}

.working-process .boxes .box:hover :is(span, h2, p) {
    color: #fff;
}

.working-process .boxes .box:hover a {
    background-color: #fff;
}

.working-process .boxes .box:hover a i {
    background-color: var(--secondary-color);
    color: white;
}

.working-process .boxes .box:hover a {
    color: var(--secondary-color);
}

.working-process .boxes .box:nth-of-type(2) {
    margin-top: -41px;
}

.working-process .boxes .box span {
    font-size: 82px;
    font-weight: 800;
    position: relative;
    z-index: 5;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px var(--secondary-color);

}

.working-process .boxes .box:hover span {
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: var(--secondary-color);
}

.working-process .boxes .box h2 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 22px;
    color: var(--secondary-color);
    margin: 10px 0;
    position: relative;
    z-index: 5;
}

.working-process .boxes .box p {
    position: relative;
    z-index: 5;
}

.working-process .boxes .box a {
    text-transform: capitalize;
    background-color: #565acf3b;
    color: #565acf;
    padding: 13px 43px 13px 10px;
    width: 170px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    transition: .3s;
    position: relative;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    margin-top: 28px;
    z-index: 5;
}

.working-process .boxes .box a:hover i {
    color: white;
    background-color: var(--secondary-color);
}

.working-process .boxes .box a i {
    color: var(--main-color);
    background-color: white;
    border-radius: 5px;
    display: flex;
    width: 39px;
    height: 76%;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .working-process .boxes {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        max-width: 100%;
    }

    .working-process .boxes .box:nth-of-type(2) {
        margin-top: 0;
    }
}

/*********************Booking***********************************/

.booking {
    background-color: #f5f5fc;
    border-radius: 30px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking .middle-section {
    display: none;
}

.booking .image {
    position: relative;
}

.booking .image img:not(:last-of-type) {
    position: absolute;

}

.booking .image img:first-of-type {
    width: 55px;
    bottom: 60%;
    margin-left: 30px;
    animation: moveBack 2s linear infinite;
}

@keyframes moveBack {
    from {
        margin-bottom: 0;
    }

    25% {
        margin-bottom: 10px;
    }

    50% {
        margin-bottom: 20px;
    }

    75% {
        margin-bottom: 10px;
    }

    to {
        margin-bottom: 0;
    }
}

.booking .image img:nth-of-type(2) {
    width: 75px;
    top: 50%;
    margin-left: 100px;
    animation: moveTo 2s linear infinite;
}

@keyframes moveTo {
    from {
        margin-top: 0;
    }

    25% {
        margin-top: 10px;
    }

    50% {
        margin-top: 20px;
    }

    75% {
        margin-top: 10px;
    }

    to {
        margin-top: 0;
    }
}

@media(max-width: 768px) {
    .booking {
        flex-wrap: wrap;
    }

    .book {
        margin: 60px 0 !important;
    }

    .book form {
        width: 100% !important;
    }

    .book form h2 {
        font-size: 23px;
    }

    .book .border {
        left: -14px !important;
        top: -15px !important;
    }

    .booking .image img:nth-of-type(2) {
        left: 70%;
        margin-left: 0;
    }

    .booking .image img:nth-of-type(3) {
        width: 100%;
    }
}

/*********************Services***********************************/
.services {
    overflow: hidden;
    padding: 50px 0;
}

.services .info {
    padding: 0 0 0 40px;
}

.services .info :is(.small-title, .big-title) {
    text-align: start;
    margin: 0;
    margin-bottom: 23px;
}

.services .info .big-title {
    font-size: 38px;
}

.services .info p {
    color: #7a7a7a;
    font-weight: 600;
    font-size: 15px;
}

.services .boxes {
    position: relative;
}

.services .boxes .services-boxes {
    background: #3b3a3a0a;
    padding: 16px 0 16px 18px;
}

.services .boxes::before {
    content: '';
    position: absolute;
    background-color: var(--second-main-color);
    right: 0;
    width: 80%;
    height: 100%;
    border-radius: 45px 0 0 45px;
    z-index: -1;
}

@media (max-width: 680px) {
    .services .boxes {
        margin-top: 35px;
    }
}