/****************************************************************/


/****************************************************************/
.small-title {
    background-image: url('../../../images/about\ background.jpg');
    background-size: contain;
    width: max-content;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 700;
    margin: auto;
}

.big-title {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0;
    text-align: center;
    text-transform: capitalize;
}

/****************************************************************/