.middle-section img.lines {
    bottom: 130px !important;
    top: auto !important;
}

.middle-section img.plus {
    top: 300px !important;
}

.middle-section img.circle {
    margin-top: 100px !important;
}