.testimonial {
    padding: 50px 0;
}

.testimonial .members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.testimonial .members .mask-images {
    width: 47%;
}

.testimonial .members .mask {
    margin: auto;
    width: max-content;
    position: relative;
}

.testimonial .members .mask>img {
    width: 100%;
}

.testimonial .members .images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial .members .images img {
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
}

.testimonial .members .images img:first-of-type {
    top: 89px;
    left: 29px;
}

.testimonial .members .images img:nth-of-type(2) {
    left: 20px;
    top: 289px;
}

.testimonial .members .images img:nth-of-type(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial .members .images img:nth-of-type(4) {
    right: 20px;
    top: 289px;
}

.testimonial .members .images img:nth-of-type(5) {
    top: 89px;
    right: 29px;
}

.testimonial .members .images img:last-of-type {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial .members .hidden {
    width: 37%;
    height: 415px;
}

.testimonial .members .opinions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1149px;
    gap: 36px;
    position: relative;
    transition: 1s;
}

.testimonial .members .opinions .box {
    background: var(--secondary-color);
    padding: 40px;
    color: white;
    border-radius: 40px 0 40px 40px;
    width: 538px;
    height: 350px;
}

.testimonial .members .opinions .box p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    width: 80%;
}

.testimonial .members .opinions .box h3 {
    text-transform: capitalize;
    font-size: 32px;
    margin-top: 47px;
}

.testimonial .members .opinions .box span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.testimonial .members .buttons {
    margin: 13px 34px;
    display: flex;
}

.testimonial .members .buttons .btn {
    background-color: #ffe4d5;
    color: var(--secondary-color);
    font-size: 21px;
    width: 50px;
    height: 45px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .members .opinions .btn:hover {
    background-color: var(--secondary-color);
    color: white;
    transition: .3s ease;
}

@media (max-width: 700px) {
    .testimonial {
        padding: 50px 0 0;
    }

    .testimonial .members {
        padding: 20px 20px 0px 20px;
    }

    .testimonial .members .buttons {
        margin: 13px 34px 34px 6px;
    }

    .testimonial .members .hidden {
        height: max-content;
    }

    .testimonial .members .opinions {
        justify-content: flex-start;
        gap: 6px;
        width: 680px;
    }

    .testimonial .members .opinions .box {
        width: 100%;
        height: max-content;
    }

    .testimonial .members .hidden {
        width: 90%;
    }

    .testimonial .members .mask-images {
        width: 90%;
    }

    .testimonial .members .mask {
        width: 100%;
        margin: 50px 0;
    }

    .testimonial .members .mask .images img {
        width: 43px;
        height: 43px;
    }

    .testimonial .members .images img:first-of-type {
        top: 58px;
        left: 22px;
    }

    .testimonial .members .images img:nth-of-type(2) {
        left: 17px;
        top: 195px;
    }

    .testimonial .members .images img:nth-of-type(4) {
        right: 17px;
        top: 197px;
    }

    .testimonial .members .images img:nth-of-type(5) {
        top: 58px;
        right: 17px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .testimonial .members .mask {
        width: 100%;
        margin: 50px 0;
    }

    .testimonial .members .mask .images img {
        width: 60px;
        height: 60px;
    }

    .testimonial .members .images img:first-of-type {
        top: 64px;
        left: 22px;
    }

    .testimonial .members .images img:nth-of-type(2) {
        left: 10px;
        top: 234px;
    }

    .testimonial .members .images img:nth-of-type(3) {
        bottom: -10px;
        left: 50%;
    }

    .testimonial .members .images img:nth-of-type(4) {
        right: 10px;
        top: 239px;
    }

    .testimonial .members .images img:nth-of-type(5) {
        top: 73px;
        right: 11px;
    }

    .testimonial .members .images img:last-of-type {
        top: -10px;
    }

    .testimonial .members .opinions {
        width: 779px;
        height: max-content;
    }

    .testimonial .members .opinions .box {
        height: max-content;
    }

    .testimonial .members .hidden {
        height: max-content;
    }

    .testimonial .members .buttons {
        margin: 13px 8px;
    }
}

/********************************************************/
.testimonial .big-title {
    width: 600px;
    margin: auto;
}

.small-title {
    background-image: url('../../images/about\ background.png');
    background-size: contain;
    width: max-content;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 700;
    margin: auto;
}

.big-title {
    color: var(--main-color);
    font-size: 42px;
    font-weight: 600;
    margin: 12px 0;
    text-align: center;
}

@media (max-width: 570px) {
    .testimonial .big-title {
        width: 90%;
        font-size: 30px;
    }
}