.blog {
    padding: 0 0 50px 0;
}

.blog .our-jobs .small-title,
.blog .our-jobs .big-title {
    display: none;
}

.blog .our-jobs .job {
    width: 350px;
}

.blog .move {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .btn {
    background-color: white;
    border: 3px solid #80808063;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
}

.blog .btn:first-of-type,
.blog .btn:last-of-type {
    width: 80px;
}

.blog .btn button {
    border: none;
    background: transparent;
    color: var(--second-main-color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 17px;
    transition: .3s;
}

.blog .btn:hover,
.blog .btn:hover button {
    background-color: var(--second-main-color);
    color: white;
}