.about-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 120px 50px 0;
    gap: 30px;
}

.about-info .images-side {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(12, minmax(42px, 42px));
    grid-template-rows: repeat(12, minmax(42px, 42px));
    position: relative;
}

.about-info .images-side::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    transform: rotate(47deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 34%;
}

.about-info .images-side img {
    object-fit: cover;
}

.about-info .images-side img:first-of-type {
    width: 250px;
    height: 272px;
    grid-column-start: 7;
    border-radius: 50px 0 50px 50px;
}

.about-info .images-side img:nth-of-type(2) {
    width: 227px;
    height: 231px;
    grid-row-start: 2;
    border-radius: 0 50px 50px;
}

.about-info .images-side img:last-of-type {
    width: 179px;
    height: 176px;
    grid-column-start: 2;
    grid-row-start: 8;
    border-radius: 51px 50px 50px 0;
}

.about-info .images-side .number {
    border: 2px solid var(--second-main-color);
    width: max-content;
    height: max-content;
    padding: 16px;
    border-radius: 50px 50px 0 50px;
    grid-row-start: 8;
    grid-column-start: 7;
}

.about-info .images-side .number span {
    font-size: 120px;
    font-weight: 900;
    color: var(--second-main-color);
    padding: 0 20px 0 0;
    display: flex;
    height: 138px;
    align-items: flex-end;
}

.about-info .images-side .number p {
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
    font-size: 19px;
    margin-top: -23px;
}

.about-info .info-side {
    width: 45%;
}

.about-info .info-side .small-title {
    background-image: url('../../images/about\ background.png');
    background-size: contain;
    width: max-content;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 700;
    margin: 0;
}

.about-info .info-side .big-title {
    color: var(--main-color);
    font-size: 45px;
    font-weight: bold;
    margin: 12px 0;
    text-align: start;
}

.about-info .info-side .service-description {
    color: var(--color);
    width: 90%;
    margin: 10px 0;
}

.about-info .info-side .services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 40%));
    gap: 30px;
    margin: 30px 0;
}

.about-info .info-side .services .service {
    display: flex;
    align-items: center;
    height: 60px;
}

.about-info .info-side .services .service:first-of-type {
    border: 1px solid #b2f0fb;
    box-shadow: 0 0 3px #b2f0fb;
}

.about-info .info-side .services .service:nth-of-type(2) {
    border: 1px solid #ffbdbc;
    box-shadow: 0 0 3px #ffbdbc;
}

.about-info .info-side .services .service:nth-of-type(3) {
    border: 1px solid #a4fcc4;
    box-shadow: 0 0 3px #a4fcc4;
}

.about-info .info-side .services .service:last-of-type {
    border: 1px solid #e2c4ff;
    box-shadow: 0 0 3px #e2c4ff;
}


.about-info .info-side .services .service .icon {
    height: 100%;
    line-height: 55px;
    border-radius: 0 40px 40px 0;
    padding: 0 10px;
    margin-right: 13px;
}

.about-info .info-side .services .service:first-of-type .icon {
    background-color: #b2f0fb61;
}

.about-info .info-side .services .service:first-of-type .icon svg {
    color: #00ab9a;
}

.about-info .info-side .services .service:nth-of-type(2) .icon {
    background-color: #ffbdbc69;
}

.about-info .info-side .services .service:nth-of-type(2) .icon svg {
    color: #ff00f5;
}

.about-info .info-side .services .service:nth-of-type(3) .icon {
    background-color: #a4fcc482;
}

.about-info .info-side .services .service:nth-of-type(3) .icon svg {
    color: #00ceff;
}

.about-info .info-side .services .service:last-of-type .icon {
    background-color: #e2c4ff9c;
}

.about-info .info-side .services .service:last-of-type .icon svg {
    color: #8000809e;
}

.about-info .info-side .services .service .icon svg {
    font-size: 30px;
    position: relative;
}

.about-info .info-side .services .service:hover .icon svg {
    animation: quack .3s ease-in-out;
}

@keyframes quack {
    0% {
        left: 5px;
    }

    25% {
        left: 0;
    }

    50% {
        left: 5px;
    }

    75% {
        left: 0;
    }

    100% {
        left: 5px;
    }
}




.about-info .info-side .read-more {
    border: none;
    width: 130px;
    height: 50px;
    background-color: var(--second-main-color);
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.about-info .info-side .read-more:hover {
    background-color: #4e53d9;
}

@media (max-width :1100px) {
    .about .background {
        padding: 0px 15px 40px
    }

    .about-info {
        padding: 120px 0px;
    }

    .about-info .images-side img:first-of-type {
        width: 211px;
        height: 250px;
    }

    .about-info .images-side img:nth-of-type(2) {
        height: 201px;
    }

    .about-info .images-side {
        grid-template-columns: repeat(11, minmax(42px, 42px));
        grid-template-rows: repeat(11, minmax(42px, 42px));
    }

    .about-info .info-side .big-title {
        font-size: 39px;
    }

    .about-info .info-side .service-description {
        margin: 24px 0;
    }
}

@media (max-width :940px) {
    .about .background {
        padding: 0px 15px 40px
    }

    .about-info {
        padding: 120px 0px;
    }

    .about-info .images-side img:first-of-type {
        width: 211px;
        height: 250px;
    }

    .about-info .images-side img:nth-of-type(2) {
        height: 201px;
    }

    .about-info .images-side {
        grid-template-columns: repeat(11, minmax(42px, 42px));
        grid-template-rows: repeat(11, minmax(42px, 42px));
    }

    .about-info .info-side .big-title {
        font-size: 39px;
    }

    .about-info .info-side .service-description {
        margin: 24px 0;
    }
}

@media (max-width :768px) {
    .about-info {
        padding: 120px 0px 0;
    }

    .about-info .info-side {
        width: 100%;
    }

    .about-info .images-side {
        width: 100%;
    }

    .about-info .images-side {
        grid-template-columns: repeat(6, minmax(42px, 42px));
        grid-template-rows: repeat(6, minmax(42px, 42px));
    }

    .about-info .images-side::before {
        top: 57%;
        left: 41%;
    }

    .about-info .images-side img:first-of-type {
        width: 160px !important;
        height: 189px !important;
        grid-column-start: 5;
    }

    .about-info .images-side img:nth-of-type(2) {
        /* width: 140px !important;
        height: 160px !important; */
        width: 153px;
        height: 168px;
    }

    .about-info .images-side img:last-of-type {
        width: 149px;
        height: 159px;
        grid-column-start: 1;
    }

    .about-info .images-side .number {
        grid-row-start: 8;
        grid-column-start: 5;
        height: 146px !important;
        width: 159px !important;
        padding: 0px 0 0 15px !important;
    }

    .about-info .images-side .number span {
        position: relative;
        top: -24px;
        font-size: 98px;
    }

    .about-info .images-side .number p {
        font-size: 17px;
        margin-top: -47px;
    }

    .about-info .info-side .services {
        grid-template-columns: none;
    }
}

@media (min-width :700px)and(max-width :860px) {
    .about-info .info-side {
        width: 100%;
    }

    .about-info .images-side {
        width: 100%;
        justify-content: center;
        margin-top: -42px;
    }
}